/* type color */

$type-0-color: orange;
$type-1-color: red;
$type-2-color: blue;
$type-3-color: grey;
$type-4-color: green;
$type-5-color: purple;
$type-6-color: black;
$type-7-color: lightgrey;

$active-color: #279AF1;
